#block{
    width: 300px;
    height: 200px;
    background-color: darkslategray;
    color: darkgray;
    box-shadow: 0px 3px 0px solid black;
    margin: 10% auto;
    text-align: center;
    font-size: 50px;
}

header{
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: brown;
}

header nav{
    display: flex;
    gap: 200px;
}

header a {
    color: white;
}